* {
    margin: 0px;
    font: Montserrat, sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    color: aliceblue;
}

header {
    position: sticky;
    /* border: solid thin black; */
    top: 0;
    z-index: 200;
    margin-left: .25rem;
    /* margin: 2rem auto; */
    min-height: 15vh;
    width: 100%;
    background-color: rgb(39, 41, 40);
    /* display: inline-block; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
}

.container {
    /*afecta el ancho total de la caja de nav*/
    min-width: 100%;
    min-height: 15vh;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*espacio entre logo y anchors*/
    z-index: 199;
    margin-top: .5rem;
    align-items: center;
}

.navigator {
    display: flex;
    padding: 1rem;
}

#logo_AE {
    width: 250px;
    height: 84px;
    margin-left: 0;
}

.container nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 22px;
    /* color: #A4EBF3; */
    font-weight: 300;

    padding: 10px;


    text-align: center;
    align-items: center;
    margin: .1rem;

}

.navigator .active {

    color: white;
}

.container nav a:hover {
    background-color: rgb(89, 160, 75);
    color: white;
}

.main {
    display: flex;
    /* border: solid thin black; */
    min-width: 100%;
    margin-left: .25rem;
    justify-content: center;
    background-color: wheat;
    height: 70vh ;
}

.receptionMain{
display: flex;
background-image: url("https://lh5.googleusercontent.com/p/AF1QipN6fuXtIqkOVC3b7D4aRFTU3rnSOWMqB3vrvPmc=w540-h312-n-k-no");
background-size: cover;
height: 100vh;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(39, 41, 40);
    min-height: 7vh;
    bottom: 0px;
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    margin-left: .25rem;
}

footer h5 {
    color: antiquewhite;

}

@media only screen and (min-width: 567px) and (max-width: 767px) {
   
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
}

@media only screen and (min-width: 1024px) {
   
}

@media only screen and (min-width:575px) and (max-width:1024px) {}


@media only screen and (min-width:320px) and (max-width:574px) {
   


}
